.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  & input,
  & textarea {
    color: var(--text_color);
    font-size: 16px;
    outline: none;
    border: none;
    // background-color: #0000004f;
    background-color: transparent;
    border-bottom: 1px solid white;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
    }
  }
}
