.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  row-gap: 16px;
}

.formTitle {
  color: #5f8b8e;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.formInput {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #5f8b8e;
}

.formInputTextarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #5f8b8e;
  margin-bottom: 30px;
}

.formButton {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 24px;
  background-color: #5f8b8e;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: transparent;
    color: #5f8b8e;
    border: 1px solid #5f8b8e;
  }
}

// .form {
//   display: flex;
//   flex-direction: column;
//   gap: 16px;
//   width: 300px;
//   & input,
//   & textarea {
//     color: var(--text_color);
//     font-size: 16px;
//     outline: none;
//     border: none;
//     // background-color: #0000004f;
//     background-color: transparent;
//     border-bottom: 1px solid white;
//     &::placeholder {
//       color: rgba(255, 255, 255, 0.5);
//       font-size: 12px;
//     }
//   }
// }
