.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  row-gap: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.formTitle {
  color: #5f8b8e;
  font-size: 24px;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

.inputGroup {
  position: relative;
  width: 100%;
}

.formLabel {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #5f8b8e96;
  pointer-events: none;
}

.formInput {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border: 2px solid #5f8b8e;
  border-radius: 4px;
  padding: 8px 16px;
  &:focus + .formLabel {
    transform: translateY(-70%) scale(0.9);
    padding-inline: 4px;
    color: #5f8b8e;
    background-color: #e5e4e9;
  }
}

.formInputTextarea {
  height: 80px;
  margin-bottom: 20px;
  resize: none;
}

.formButton {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 12px 24px;
  background-color: #5f8b8e;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: inherit;
  &:hover,
  &:focus {
    background-color: transparent;
    color: #5f8b8e;
    border: 2px solid #5f8b8e;
  }
}
