.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/welcome-msg-fall-bg.jpg');
  background-position: top left;
  background-size: cover;
  @media screen and (min-width: 500px) {
    padding-top: 40%;
  }
  @media screen and (min-width: 600px) {
    padding-top: 30%;
  }
  @media screen and (min-width: 768px) {
    padding-top: 20%;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 7%;
  }
  // @media screen and (orientation: landscape) and (max-height: 420px) {
  //   padding-top: 50px;
  //   // padding-top: 72px;
  // }
}

.heroTitle {
  font-family: Inter;
  color: #e5f2f2;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3.2px;
  margin-bottom: 24px;
  opacity: 0;
  scale: 0.8;
  filter: blur(1px);
  animation: title 2s 0.5s linear forwards;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 48px;
    margin-bottom: 42px;
  }
}

@keyframes title {
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

.description {
  // color: #4f6874;
  color: #d9e8e8;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.7;
  width: 75%;
  opacity: 0;
  scale: 1.1;
  animation: description 3s 0.5s linear forwards;
  @media screen and (min-width: 768px) {
    // font-size: 18px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}
@keyframes description {
  to {
    opacity: 1;
    scale: 1;
  }
}

.heroArrow {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  opacity: 0;
  scale: 0.8;
  animation: arrow 2s 0.5s linear forwards,
    arrowAnimation 2s ease-in-out infinite alternate;
  &:hover,
  &:focus {
    animation-play-state: paused;
  }
  // &::after {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   bottom: 76px;
  //   left: -5px;

  //   width: 90px;
  //   height: 2px;
  //   background-color: #d9e8e877;
  //   transform: rotate(90deg);
  // }
}
@keyframes arrowAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrow {
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

.heroArrowSvg {
  width: 90px;
  height: 90px;
  stroke: #d9e8e874;
}
