.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-x: hidden;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      to(rgba(0, 0, 0, 0.3))
    ),
    url('/Hero_bg.webp');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/Hero_bg.webp');
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/Hero_bg.webp');
  image-rendering: auto;
  background-attachment: lazy;
  background-position: center left;
  background-size: cover;
}

.heroTitle {
  font-family: Inter;
  color: var(--light_acсent_color);
  font-size: 16px;
  // font-size: 24px;
  font-weight: 700;
  letter-spacing: 3.2px;
  margin-bottom: 24px;
  // opacity: 0;
  // scale: 0.8;
  // filter: blur(1px);
  // animation: title 1.5s 0.5s linear forwards;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 48px;
    margin-bottom: 42px;
  }
}

// @keyframes title {
//   to {
//     opacity: 1;
//     scale: 1;
//     filter: blur(0);
//   }
// }

.description {
  color: var(--light_acсent_color);
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.7;
  width: 75%;
  opacity: 0;
  animation: description 1.5s 0.5s linear forwards;
  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}
@keyframes description {
  to {
    opacity: 1;
  }
}

.heroArrow {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  opacity: 0;
  scale: 0.8;
  animation: arrow 2s 0.5s linear forwards,
    arrowAnimation 2s ease-in-out infinite alternate;
  &:hover,
  &:focus {
    animation-play-state: paused;
  }
}
@keyframes arrowAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrow {
  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

.heroArrowSvg {
  width: 90px;
  height: 90px;
  stroke: #dde6e6d7;
}
