/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@100;400;500;600;700&family=Marck+Script&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter+Tight&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Marck+Script&display=swap");

:root {
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  --color_bg: #000;
  --min_width: "300px";
  --text_color: white;
  --text_shadow: 0px 1px 2px black;
  --border_semi_white: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition-duration: 0.5s;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text_color);

  font-family: Inter;

  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("/HeroFigmaCl.webp");
  /* -webkit-background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("/HeroFigma.webp"); */
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-attachment: fixed;
  background-position: 50% 0px;
}

main {
  flex: 1;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* @media screen and (min-width: 425px) {
  body {
    background-color: rgba(221, 160, 221, 0.1);
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: rgba(0, 255, 255, 0.173);
    padding: 32px;
  }
} */

/* linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.3),
      rgba(0, 0, 0, 0.3)
    ), */

@media screen and (min-width: 768px) {
  section {
    padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 100% auto;
  }
}
