.heroWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.contacts {
  // position: fixed;
  // right: 0;
  // top: 50%;
  // display: flex;
  // flex-direction: row;
  // transform: rotate(90deg);
  // transform-origin: left top 0;
}

// .imgContainer {
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   position: absolute;
//   transition-duration: 3s;

//   & img {
//     width: auto !important;
//     height: 100%;
//     object-fit: cover !important;
//     filter: brightness(0.6);

//     @media screen and (orientation: landscape) and (max-height: 800px) {
//       width: 100% !important;
//       height: 100% !important;
//     }
//   }
// }

// .wrapper {
//   width: 100vw;
//   height: 100vh;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   overflow-y: scroll;
//   z-index: 100;
//   overflow-x: hidden;
//   overflow-y: scroll;

//   background-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
//     url('/lake.jpeg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: fixed;
//   background-position: bottom;
//   gap: 64px;
//   position: relative;
// }

// .imgContainer::before {
//   content: "";
//   width: 100%;
//   height: 300px;
//   position: absolute;
//   top: 0;
//   // background-color: red;
//   display: inline-block;
//   z-index: 5;
//   background-image: url(/_next/static/media/clouds-2.1f60b9b5.webp);
//   background-size: 65%;
//   background-repeat-x: repeat;
//   background-repeat-y: no-repeat;
// }

// .imgContainer::before {
//   content: url(/_next/static/media/clouds-2.1f60b9b5.webp);
//   width: 100%;
//   height: 300px;
//   z-index: 5;
//   position: absolute;
//   transform: translate(-200%, -200%);
//   animation: clouds 500s linear infinite;
//   scale: 0.5;
// }

// @keyframes clouds {
//   to {
//     transform: translate(-1000%, -2000%);
//   }
// }
