.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  padding: 12px;
  text-shadow: var(--text_shadow);
  border-bottom: 1px solid var(--border_semi_white);
  font-size: 12px;
  justify-content: space-between;
  z-index: 10;

  & .headerContacts {
    gap: 4px;
    // font-size: 12px;
  }
  @media screen and (min-width: 425px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
