.headerContainer {
  display: none;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 12px;
    z-index: 10;
    column-gap: 30px;
  }
}

.linkTitle {
  font-weight: 200;
  font-size: 20px;
}
