.header {
  position: relative;
  width: 100%;
}

.headerContainer {
  display: none;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 12px;
    z-index: 10;
    column-gap: 30px;
  }
}

.linkTitle {
  font-weight: 200;
  font-size: 20px;
}

.burgerMenuContainer {
  position: fixed;
  right: -220px;
  top: -25px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f2f0e9;
  box-shadow: 0 0 0 0 #f2f0e9, 0 0 0 0 #f2f0e9;
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: translate(-50%, -50%);
}
.burgerMenuContainerOpen {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: #f2f0e9;
  box-shadow: 0 0 0 100vw #f2f0e9, 0 0 0 100vh #f2f0e9;
}

.burgerMenu {
  position: fixed;
  top: 10px;
  right: 12px;
  z-index: 999;
  outline: none;
  cursor: pointer;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burgerMenu:before,
.burgerMenu:after,
.burgerMenu .burgerMenuBtnAfter {
  background-color: #4a4535;
  content: '';
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 3px;
  margin: 4px 0;
  transition: 0.5s;
}

.burgerMenuOpen {
  position: fixed;
  top: 10px;
  right: 12px;
  z-index: 999;
  outline: none;
  cursor: pointer;
  border: none;

  &::before,
  &::after,
  & .burgerMenuBtnAfter {
    background: #4a4535;
    content: '';
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.5s;
  }
  &::before {
    transform: translateY(10px) rotate(135deg);
  }
  &::after {
    transform: translateY(-7px) rotate(-135deg);
  }
  & .burgerMenuBtnAfter {
    transform: scale(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
