.navLinks {
  display: flex;
  gap: 12px;
  position: absolute;

  @media screen and (min-width: 425px) {
    // flex-direction: row;
    transform: translateX(0%);
    position: static;
  }
}

.activeLink {
  color: cadetblue;
  background-color: darkcyan;
}

.linkTitle {
  font-weight: 200;
  font-size: 20px;
}
