.footer {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 8px;

  padding: 30px 30px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1024px) {
  }
}

.content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  @media screen and (min-width: 1024px) {
  }
  @media screen and (min-width: 1280px) {
  }
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  color: #4a4535da;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.footerWebevery {
  font-weight: 400;
  font-size: 16px;
  color: #2c281fae;
  // margin-left: 4px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    // margin-right: 8px;
  }
  &:hover,
  &:focus {
    scale: 1.05;
    background-image: linear-gradient(30deg, #2c281f 70%, #2c281f63 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;

    color: var(--title_color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 0.5s linear both;
  }
}

@keyframes textclip {
  100% {
    background-position: -200% center;
    filter: brightness(2);
  }
}

.linkTitle {
  font-weight: 400;
  font-size: 16px;
  color: #2c281fae;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.stylesArrow:hover.stylesArrow::after {
  background-color: #2c281fae;
}

.sicialLinks {
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
