.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 0px 0px;
  overflow-x: hidden;
  @media screen and (min-width: 768px) {
    padding: 40px 0px 0px 0px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.title {
  color: #2c281f;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 48px;
    margin-bottom: 18px;
  }
}

.text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.7;
  color: #2c281f;
  margin-bottom: 60px;
  padding: 0px 16px;
}

.containerContact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e6e5e0;
  padding: 30px 30px;
  @media screen and (min-width: 768px) {
    padding: 0 0 0 60px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.contactText {
  color: #4a4535;
  @media screen and (min-width: 1024px) {
  }
}

.contactsMap {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  border: none;
  margin-bottom: 24px;
  // filter: grayscale(100%) invert(100%) contrast(80%) sepia(70%);

  & iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none;
  }

  @media screen and (min-width: 768px) {
    width: 70%;
    height: 500px;
    margin-bottom: 0px;

    // width: 500px;
    // height: 300px;
  }
  @media screen and (min-width: 1024px) {
    height: 600px;
  }
}

// &::before {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   // left: 0;

//   background-image: url('/clouds-1.png');
//   background-position: right center;
//   background-size: cover;
//   animation: move 30s infinite;
//   animation-timing-function: linear;
//   animation-delay: -15s;
//   @keyframes move {
//     from {
//       left: 100%;
//     }
//     to {
//       left: -100px;
//     }
//   }
// }
// &::after {
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   // right: 0;

//   background-image: url('/clouds-1.png');
//   background-position: right center;
//   background-size: cover;
//   animation: move 30s infinite;
//   animation-timing-function: linear;
//   @keyframes move {
//     from {
//       left: 100%;
//     }
//     to {
//       left: -100%;
//     }
//   }
// }
