.logo {
  font-family: Inter;
  color: #ffffff;
  // color: #e5f2f2;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  border: 2px solid #ffffff;
  border-radius: 50%;
  // padding: 4px 7px;
  padding: 9px 7px;
}
