.logo {
  font-family: Inter;
  color: var(--light_acсent_color);
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  border: 2px solid var(--light_acсent_color);
  border-radius: 50%;
  padding: 9px 7px;
}
