.container {
  padding: 24px 16px 0px 16px;
  @media screen and (min-width: 768px) {
    padding: 30px 24px 0px 24px;
  }
  @media screen and (min-width: 1024px) {
    padding: 50px 30px 0px 30px;
  }
}

.aboutTitle {
  font-size: 24px;
  color: #2c281f;
  // text-align: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 100px;
  // justify-content: space-around;
}

.aboutText {
  width: 30%;
  font-size: 16px;
  color: #4a4535;
  text-align: justify;
  @media screen and (min-width: 768px) {
    // text-align: start;
    font-size: 18px;
    // margin-bottom: 24px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 24px;
    // margin-bottom: 30px;
  }
}
